# Ignore temp files
*~
*.swp

# Ignore build files
/build
davehudson.io.tar.gz

# Ignore coverage files
/coverage

# Ignore node modules
/node_modules
package-lock.json

# Ignore Mac system files
.DS_Store

# Humbug files
/conversations
/.humbug

