body {
    background-color: #141414;
    color: #ccc;
}

a {
    color: #70a0f0;
}

a:hover {
    color: #f06e82;
}

blockquote {
    border-color: #ddd;
}

hr {
    border-color: #444;
}

.header nav.site-menu {
    border-color: #444;
}

.header nav.site-menu button {
    color: #70a0f0;
}

.main .meta {
    color: #eaa;
}

.main p code {
    color: #d06060;
}

.main table th {
    background-color: #444;
    border: 1px solid #777;
}

.main table td {
    border: 1px solid #777;
}

.main .blog-posts .blog-post .meta {
    color: #eaa;
}

.main .prev-next {
    border-top: 1px solid #444;
}

.footer {
    border-color: #444;
    color: #aaa;
}
