body {
    background-color: #141414;
    color: #ccc;
}

a {
    color: #70a0f0;
}

a:hover {
    color: #f06e82;
}

blockquote {
    border-color: #ddd;
}

hr {
    border-color: #444;
}

.header nav.site-menu {
    border-color: #444;
}

.header nav.site-menu button {
    color: #70a0f0;
}

.main .meta {
    color: #eaa;
}

.main p code {
    color: #d06060;
}

.main pre {
    background-color: #202020;
}

.main pre code .comment {
    color: #68d068;
}

.main pre code .css-at-rule {
    color: #ffc0eb;
}

.main pre code .css-pseudo {
    color: #90e0e8;
}

.main pre code .css-selector {
    color: #80b0f0;
}

.main pre code .element {
    color: #90e0e8;
}

.main pre code .error {
    background-color: #ff0000;
    color: #f0f0f0;
}

.main pre code .function {
    color: #e0e080;
}

.main pre code .html-attribute {
    color: #90e0e8;
}

.main pre code .html-doctype {
    color: #808080;
}

.main pre code .html-tag {
    color: #ffc0eb;
}

.main pre code .identifier {
    color: #80b0f0;
}

.main pre code .keyword {
    color: #ffc0eb;
}

.main pre code .number {
    color: #c08040;
}

.main pre code .operator {
    color: #c0c0c0;
}

.main pre code .preprocessor {
    color: #808080;
}

.main pre code .regexp {
    color: #c87050;
}

.main pre code .string {
    color: #d06060;
}

.main pre code .text {
    color: #f0f0f0;
}

.main table th {
    background-color: #444;
    border: 1px solid #777;
}

.main table td {
    border: 1px solid #777;
}

.main .pink-note {
    background-color: #202020;
    color: #ffc0cb;
}

.main .blue-note {
    background-color: #202020;
    color: #80b0f0;
}

.main .blog-posts .blog-post .meta {
    color: #eaa;
}

.main .prev-next {
    border-top: 1px solid #444;
}

.footer {
    border-color: #444;
    color: #aaa;
}
