body {
    background-color: #141414;
}

.container {
    color: #ccc;
}

.container a {
    color: #70a0f0;
}

.container a:hover {
    color: #f06e82;
}

.container blockquote {
    border-color: #ddd;
}

.container hr {
    border-color: #444;
}

.container .title .meta {
    color: #aaa;
}

.container .markdown p code {
    color: #d06060;
}

.container .markdown table th {
    background-color: #444;
    border: 1px solid #777;
}

.container .markdown table td {
    border: 1px solid #777;
}

.container .header nav.site-menu {
    border-color: #444;
}

.container .prev-next {
    border-top: 1px solid #444;
}

.container .disqus {
    border-top: 1px solid #444;
}

.container .footer {
    border-color: #444;
}

.container .recent-blog-posts .recent-blog-post .meta {
    color: #aaa;
}

.container .recent-blog-posts .recent-blog-post nav.tags a {
    border: 1px solid #7088d0;
    color: #7088d0;
}

.container .blog-posts .blog-post .meta {
    color: #aaa;
}

.container .blog-posts .blog-post .draft-label {
    color: #7088d0;
}

.container .blog-post nav.tags a {
    border: 1px solid #7088d0;
    color: #7088d0;
}

.container .journal-entries .journal-entry .meta {
    color: #aaa;
}

.container .journal-entries .journal-entry .draft-label {
    color: #7088d0;
}

.container .journal-entry nav.tags a {
    border: 1px solid #7088d0;
    color: #7088d0;
}

.container .tagged-posts .tagged-post .meta {
    color: #aaa;
}

/*
 * Syntax highlighting.
 */

/* Background */
.chroma {
    color: #c0c0c0;
    background-color: #1c1c1c
}

/* LineHighlight */
.chroma .hl {
    background-color: #ffffcc
}

/* LineNumbersTable */
.chroma .lnt {
    color: #7f7f7f
}

/* LineNumbers */
.chroma .ln {
    color: #7f7f7f
}

/* Keyword */
.chroma .k {
    color: #60c060
}

/* KeywordConstant */
.chroma .kc {
    color: #60c060;
}

/* KeywordDeclaration */
.chroma .kd {
    color: #60c060
}

/* KeywordNamespace */
.chroma .kn {
    color: #dc322f;
}

/* KeywordPseudo */
.chroma .kp {
    color: #60c060
}

/* KeywordReserved */
.chroma .kr {
    color: #60c060
}

/* KeywordType */
.chroma .kt {
    color: #60c060;
}

/* Name */
.chroma .n {
    color: #c0c0c0
}

/* NameAttribute */
.chroma .na {
    color: #c0c0c0
}

/* NameBuiltin */
.chroma .nb {
    color: #cb4b16
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #c0c0c0
}

/* NameClass */
.chroma .nc {
    color: #cb4b16
}

/* NameConstant */
.chroma .no {
    color: #c0c0c0
}

/* NameDecorator */
.chroma .nd {
    color: #c0c0c0
}

/* NameEntity */
.chroma .ni {
    color: #c0c0c0
}

/* NameException */
.chroma .ne {
    color: #c0c0c0
}

/* NameFunction */
.chroma .nf {
    color: #c0c0c0
}

/* NameFunctionMagic */
.chroma .fm {
    color: #c0c0c0
}

/* NameLabel */
.chroma .nl {
    color: #c0c0c0
}

/* NameNamespace */
.chroma .nn {
    color: #c0c0c0
}

/* NameOther */
.chroma .nx {
    color: #c0c0c0
}

/* NameProperty */
.chroma .py {
    color: #c0c0c0
}

/* NameTag */
.chroma .nt {
    color: #c0c0c0;
}

/* NameVariable */
.chroma .nv {
    color: #c0c0c0
}

/* NameVariableClass */
.chroma .vc {
    color: #c0c0c0
}

/* NameVariableGlobal */
.chroma .vg {
    color: #c0c0c0
}

/* NameVariableInstance */
.chroma .vi {
    color: #c0c0c0
}

/* NameVariableMagic */
.chroma .vm {
    color: #c0c0c0
}

/* Literal */
.chroma .l {
    color: #c06060
}

/* LiteralDate */
.chroma .ld {
    color: #c06060
}

/* LiteralString */
.chroma .s {
    color: #c06060
}

/* LiteralStringAffix */
.chroma .sa {
    color: #c06060
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #c06060
}

/* LiteralStringChar */
.chroma .sc {
    color: #c06060
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #c06060
}

/* LiteralStringDoc */
.chroma .sd {
    color: #c06060
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #c06060
}

/* LiteralStringEscape */
.chroma .se {
    color: #c06060
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #c06060
}

/* LiteralStringInterpol */
.chroma .si {
    color: #c06060
}

/* LiteralStringOther */
.chroma .sx {
    color: #c06060
}

/* LiteralStringRegex */
.chroma .sr {
    color: #c06060
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #c06060
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #c06060
}

/* LiteralNumber */
.chroma .m {
    color: #c06060;
}

/* LiteralNumberBin */
.chroma .mb {
    color: #c06060;
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #c06060;
}

/* LiteralNumberHex */
.chroma .mh {
    color: #c06060;
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #c06060;
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #c06060;
}

/* LiteralNumberOct */
.chroma .mo {
    color: #c06060;
}

/* OperatorWord */
.chroma .ow {
    color: #60c060
}

/* Comment */
.chroma .c {
    color: #6060c0;
}

/* CommentHashbang */
.chroma .ch {
    color: #6060c0;
}

/* CommentMultiline */
.chroma .cm {
    color: #6060c0;
}

/* CommentSingle */
.chroma .c1 {
    color: #6060c0;
}

/* CommentSpecial */
.chroma .cs {
    color: #6060c0;
}

/* CommentPreproc */
.chroma .cp {
    color: #c060c0;
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #c060c0;
}

/* Generic */
.chroma .g {
    color: #d33682
}

/* GenericDeleted */
.chroma .gd {
    color: #d33682
}

/* GenericEmph */
.chroma .ge {
    color: #d33682
}

/* GenericError */
.chroma .gr {
    color: #d33682
}

/* GenericHeading */
.chroma .gh {
    color: #d33682
}

/* GenericInserted */
.chroma .gi {
    color: #d33682
}

/* GenericOutput */
.chroma .go {
    color: #d33682
}

/* GenericPrompt */
.chroma .gp {
    color: #d33682
}

/* GenericStrong */
.chroma .gs {
    color: #d33682
}

/* GenericSubheading */
.chroma .gu {
    color: #d33682
}

/* GenericTraceback */
.chroma .gt {
    color: #d33682
}

/* GenericUnderline */
.chroma .gl {
    color: #d33682
}

